body {
    font-family: "Montserrat", sans-serif;
    display: flex;
      justify-content: center; /* centers horizontally */
      align-items: center;     /* centers vertically */
      height: 100vh;
}

#game-heading {
    color: blue; 
    text-align: center;
}

#mySlider {
    margin-top: 25px;
}

#circle {
    background-color: blue;
    border-radius: 100px;
    width: 100px;         /* set width */
      height: 100px;
}

/* Make the slider track bigger */
input[type=range] {
    width: 600px;      /* length of slider */
    height: 15px;      /* thickness of the track */
    -webkit-appearance: none; /* remove default style (important for Chrome/Safari) */
    background: #ddd;  /* track background */
    border-radius: 10px;
}

    /* Customize the slider thumb (the draggable circle) */
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none; /* remove default style */
    appearance: none;
    width: 30px;   /* make thumb wider */
    height: 30px;  /* make thumb taller */
    background: blue; /* color */
    border-radius: 50%;  /* circle */
    cursor: pointer;
}

    /* For Firefox */
input[type=range]::-moz-range-thumb {
    width: 30px;
    height: 30px;
    background: #4CAF50;
    border-radius: 50%;
    cursor: pointer;
}